* { /* Reset, pois cada navegador adiciona por padrão alguns estilos */
  padding: 0;
  margin: 0;
  box-sizing: border-box
}

body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  background-image: linear-gradient(to bottom right,rgb(0, 255, 200), rgb(0, 183, 255));
}

.titulo { 
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-transform: uppercase;
  color: white;
  text-shadow: 0px -1px 3px black;
}

.tabuleiro {
  width: 62%;
  height: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.linha {

  display: flex;
  justify-content: center;
  align-items: center;
}

.cartao {

  width: 1px;
  margin: 1%;

  box-shadow: 0px 5px 5px rgba(0, 0, 0, .8);
  cursor: pointer;
  flex: 1;
  height: auto;

  transition: all 0.3s;
}

.cartao:hover {
  filter: brightness(125%);
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.8);
  transform: translateY(-5px);
}

.cartao.costas {
  filter: grayscale(0) contrast(0) brightness(40%);
}

.cartao.costas:hover {
  filter: grayscale(0) contrast(0) brightness(50%);
}
