.tabuleiro {
  background: #eee;
  max-width: 100%;
}

.cartao {
  width: 22%;
  margin: 1%;
  box-shadow: 0px 10px 5px rgba(0, 0, 0, 0.3);
  cursor: pointer;
  flex: 1;
  height: auto;

  transition: all 0.3s;
}

.cartao:hover {
  filter: brightness(125%);
  box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.5);
  transform: translateY(-5px);
}

.cartao.costas {
  filter: grayscale(0) contrast(0) brightness(40%);
}

.cartao.costas:hover {
  filter: grayscale(0) contrast(0) brightness(50%);
}
